<?xml version='1.0' encoding='utf-8'?>
<widget id="com.imagesearch" version="0.3.8">
  <name>Image Search</name>
  <description>Search for images from konachan.net</description>
  <author email="pepijn.vanden.broek@gmail.com" href="https://kurozero.xyz">KurozeroPB</author>
  <preference name="EnableDeveloperConsole" value="false" />
  <preference name="Orientation" value="portrait" />
  <content src="package.json"/>
  <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
  <plugin name="cordova-plugin-file" spec="^4.3.3" />
  <platform name="android">
    <icon src="icon/neko_icon.png" density="mdpi" />
    <icon src="icon/neko_icon.png" density="hdpi" />
    <icon src="icon/neko_icon.png" density="xhdpi" />
    <icon src="icon/neko_icon.png" density="xxhdpi" />
    <icon src="icon/neko_icon.png" density="xxxhdpi" />
  </platform>
</widget>